{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ experience.id }}</td>
                    </tr>
                    <tr>
                        <th>Company</th>
                        <td>{{ experience.company }}</td>
                    </tr>
                    <tr>
                        <th>JobName</th>
                        <td>{{ experience.jobName }}</td>
                    </tr>
                    <tr>
                        <th>Period</th>
                        <td>{{ experience.duration }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ experience.city }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ experience.description | raw | nl2br }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('experience_index') }}" class="btn btn-dark btn-sm">
        <i class="fa fa-arrow-left mr-1"></i>
        back to list
    </a>

    <a href="{{ path('experience_edit', {'id': experience.id}) }}" class="btn btn-dark btn-sm">
        <i class="fa fa-edit mr-1"></i>
        Edit
    </a>

    {{ include('admin/experience/_delete_form.html.twig') }}
{% endblock %}
