<section id="contact">
    <div class="row section-head">
        <div class="two columns header-col">
            <h1><span>Contact</span></h1>
        </div>
        <div class="ten columns">
            <p class="lead">
                N'hésitez pas à me contacter !
            </p>
        </div>
    </div>

    <div class="row">
        <div class="eight columns">
           <form action="{{ path('contact') }}" method="post" id="contactForm" name="contactForm">
				<fieldset>
                    <div>
					   <label for="contactName">Nom <span class="required">*</span></label>
					   <input type="text" value="" size="35" id="contactName" name="name">
                    </div>
                    <div>
					   <label for="contactEmail">Email <span class="required">*</span></label>
					   <input type="text" value="" size="35" id="contactEmail" name="email">
                    </div>
                    <div>
					   <label for="contactSubject">Sujet</label>
					   <input type="text" value="" size="35" id="contactSubject" name="subject">
                    </div>
                    <div>
                        <label for="contactMessage">Message <span class="required">*</span></label>
                        <textarea cols="50" rows="15" id="contactMessage" name="message"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="submit">Envoyer</button>
                        <span id="image-loader">
                            <img alt="" src="images/loader.gif">
                        </span>
                    </div>
                </fieldset>
            </form>

            <div id="message-warning">
                Error boy
            </div>
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>
        </div>

        <aside class="four columns footer-widgets">
           <div class="widget widget_contact">
                <h4>Coordonnées</h4>
                <p class="address">
					{{ profile.getFullname() }}
                    <br>
                    {{ profile.getAddress() }}
                    <br>
                    {{ profile.getZipcode() }}
                    {{ profile.getCity() }}
                    <br>
                    <span>{{ profile.getMobile() }}</span>
                </p>
            </div>
        </aside>
    </div>
</section>
