<section id="portfolio" class="s-portfolio target-section">

    <div class="row s-portfolio__header">
        <div class="column large-12">
            <h3>Quelques réalisations</h3>
        </div>
    </div>

    <div class="row collapse block-large-1-4 block-medium-1-3 block-tab-1-2 block-500-stack folio-list">
        {% for work in profile.getWorks() %}
            <div class="column folio-item">
                <a href="#modal-{{ work.getId() }}" class="folio-item__thumb">
                    <img src="{{ asset(work.getCoverPath()) }}"  alt="{{ work.getTitle() }}">
                </a>
            </div>
        {% endfor %}
    </div>

    {% for work in profile.getWorks() %}
        <div id="modal-{{ work.getId() }}" hidden>
            <div class="modal-popup">
                <img src="{{ asset(work.getCoverPath()) }}" alt="{{ work.getTitle() }}">

                <div class="modal-popup__desc">
                    <h5>{{ work.getTitle() }}</h5>
                    <p>{{ work.getDescription() }}</p>
                    {#<ul class="modal-popup__cat">
                        <li>Branding</li>
                        <li>Product Design</li>
                    </ul>#}
                </div>

                {% if work.getLink() %}
                    <a href="{{ work.getLink() }}" target="_blank" class="modal-popup__details">
                        Accéder au site
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</section>
