<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>Mes réalisations</h1>

            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                {% for work in profile.getWorks() %}
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-{{ work.getId() }}" title="">
                                <img alt="{{ work.getTitle() }}" src="{{ work.getCover() }}">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>{{ work.getTitle() }}</h5>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="link-icon">
                                    <i class="icon-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% for work in profile.getWorks() %}
            <div id="modal-{{ work.getId() }}" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="{{ work.getCover() }}" alt="" />
                <div class="description-box">
                    <h4>{{ work.getTitle() }}</h4>
                    <p>{{ work.getDescription() }}</p>
                    <span class="categories">
                        <i class="fa fa-tag"></i>
                        Branding,Webdesign
                    </span>
                </div>
                <div class="link-box">
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
