<section id="resume" class="s-resume target-section">
    <div class="row s-resume__section">
        <div class="column large-3 tab-12">
            <h3 class="section-header-allcaps">Expériences</h3>
        </div>
        <div class="column large-9 tab-12">
            {% for experience in profile.getExperiences() %}
                <div class="resume-block">
                    <div class="resume-block__header">
                        <h4 class="h3">{{ experience.getCompany() }}</h4>
                        <p class="resume-block__header-meta">
                            <span>{{ experience.getJobName() }}</span>
                            <span class="resume-block__header-date">
                                {{ experience.getDuration() }}
                            </span>
                        </p>
                    </div>

                    {% if experience.getDescription() %}
                        <p>
                            {{ experience.getDescription() | raw | nl2br }}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row s-resume__section">
        <div class="column large-3 tab-12">
            <h3 class="section-header-allcaps">Hard skills</h3>
        </div>
        <div class="column large-9 tab-12">
            {% for label, skillsByCategory in profile.hardSkillsByCategories %}
                <div class="resume-block">
                    <h4>
                        {{ label | upper }}
                    </h4>

                    <ul class="skill-bars-fat">
                        {% for skill in skillsByCategory.items %}
                            <li>
                                <div class="progress percent{{ skill.getPercentage() }}"></div>
                                <strong>{{ skill.getName() }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row s-resume__section">
        <div class="column large-3 tab-12">
            <h3 class="section-header-allcaps">Soft skills</h3>
        </div>
        <div class="column large-9 tab-12">
            {% for skill in profile.getSoftSkills() %}
                <span class="tag">
                    {{ skill.getName() }}
                </span>
            {% endfor %}
        </div>
    </div>

    <div class="row s-resume__section">
        <div class="column large-3 tab-12">
            <h3 class="section-header-allcaps">Formations</h3>
        </div>
        <div class="column large-9 tab-12">
            {% for formation in profile.getFormations() %}
                <div class="resume-block">
                    <div class="resume-block__header">
                        <h4 class="h3">{{ formation.getPlace() }}</h4>
                        <p class="resume-block__header-meta">
                            <span>{{ formation.getDegree() }}</span>
                            <span class="resume-block__header-date">
                                {{ formation.getDuration() }}
                            </span>
                        </p>
                    </div>

                    {% if formation.getDescription() %}
                        <p>
                            {{ formation.getDescription() }}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
